.checkoutContainer {
  display: flex;
  flex-direction: column;
}
.label {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.label > span {
  color: red;
  cursor: pointer;
}
.CartProdimg {
  display: flex;
  width: 150px;
  height: 150px;
  align-items: center;
  justify-content: space-between;
}

.listitem {
  display: flex;
  margin: 10px;
  border: 1px solid gainsboro;
  padding: 10px;
  align-items: center;
  justify-content: space-between;
  font-size: large;
  font-weight: 600;
  gap: 10px;
}
.cartItems {
  display: flex;
  align-self: flex-start;
}
.CartProd {
  font-weight: 500;
  font-size: 20px;
}
.prodPrice {
  display: flex;
  flex-direction: column;
  cursor: pointer;
}
.billSection {
  display: flex;
  flex-direction: column;
  font-size: 40px;

  margin-top: 10px;
  border-top: 1px solid gainsboro;
}
